@using PagedList;
@using PagedList.Mvc;


@model IPagedList<BloodBankModels.Login>

@{
    ViewBag.Title = "AccDelete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>AccDelete</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User Name")
        </th>
        
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Date Of Birth")
        </th>
        <th>
            @Html.DisplayName("Contact Number")
        </th>
        
        <th>
            Action
        </th>
    </tr>

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="5">
           <h3><span class="label label-info">No Member Found</span></h3>
        </td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.user_id }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
}

</table>
@Html.PagedListPager(Model, page=> Url.Action("AccDelete",new { page }), new PagedListRenderOptions() { Display= PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation=true})


@Html.ActionLink("Back Home","Index","WelcomeAdmin")
<h3><span class="label label-danger">@TempData["foo"]</span></h3>