
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Admin Panel</h2><br /><br />
@Html.ActionLink("City List","Index","Cities")<br /><br />
@Html.ActionLink("Area List", "Index", "Areas")<br /><br />
@Html.ActionLink("Donor Renew", "Index", "Renew")<br /><br />
@Html.ActionLink("Member List", "AccDelete", "Account")<br /><br />
@Html.ActionLink("Report On Blood Search", "Index", "Report")<br /><br />
@Html.ActionLink("Report On Blood Donor", "Report", "Donors")<br /><br />



