
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Home</h2><br />
@Html.ActionLink("Donor Registration","Index","Donors")<br /><br />
@Html.ActionLink("Donor Account", "Edit", "Donors")<br /><br />
@Html.ActionLink("Comments", "Comment", "Donors")<br /><br />
@Html.ActionLink("Account Details", "Index", "Account")<br /><br />
@Html.ActionLink("Search For Donor","Index","Search")<br />



